# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch model files
*.pt
*.pth

# Logs and stubs
*.log
*.pkl
stubs/
output_videos/

# OS-specific files
.DS_Store
Thumbs.db